.wr{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #502314;
}
.img{
  height: 200px;
}
.card{
  color: #502314;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addProduct {
  margin-top: 20px;
}
.aboutUser{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}