.login {
  height: 60px;
}

.wr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.wrLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  button {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #502314;
  background: #d7c7b4;
  border: none;
  border-radius: 20px;
  padding: 6px 20px; 
}
}
.cartSticker{
  text-align: center;
  background: #ff8720;
  border-radius: 50%;
  width: 25px;
  color: #502314;
  position: absolute;
  top:-15px;
  right: 120px;
}
