.wr {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.ImgWr {
    width: 500px;
    background-color: #fff;
}

.img {
    max-width: 450px;
    margin-left: 25px;
}

.wrInfo {
    width: 500px;
    height: 500px;
}

.wrList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.discount_price {
    text-decoration: line-through;
    margin: 5px;
    font-size: small;
}

.redPrice {
    color: red;
    font-size: large;
}

.reviews {
    margin-left: 25px;
}

.buttonWr button {
    margin: 10px 10px;
}

.discount {
    text-align: center;
    position: absolute;
    font-size: larger;
    top: 35px;
    left: 10px;
    background: rgb(210, 49, 49);
    border-radius: 9px;
    width: 55px;
    color: #fff;
}

.newSticker {
    text-align: center;
    position: absolute;
    font-size: larger;
    bottom: 35px;
    left: 440px;
    background-color: rgb(240, 171, 60);
    border-radius: 9px;
    width: 55px;
}

.heart {
    position: absolute;
    top: 35px;
    left: 450px;
    font-size: 40px;
    color: grey;
    cursor: pointer;
}

.heart_red {
    position: absolute;
    top: 35px;
    left: 450px;
    font-size: 42px;
    color: red;
    cursor: pointer;
}
.cartSticker{
    padding: 6px;
    border-radius: 16px;
    border: 2px solid #502314;
    color: #502314;
  }
  .reviews {
    margin-left: 10px;
  }