.wr{
    width: 1000px;
    background-color: white;
}
.date{
    // margin-left: 530px;
}
.aboutUser{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
.img{
    max-width: 100px;
}
.authorName{
    margin-left: 0px;
}
.reviewsBody{
    margin-left: 15px;
}