.header {
  background-color: #502314;
  color: #f5ebdc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px calc(50% - 500px);
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
    
  }
  span {
    color: #f5ebdc;
    font-size: 30px;
    padding-left: 20px;
  }
 .img{
  height: 100px;
 } 
input {
  padding: 15px;
  border: 1px solid black;
  border-radius: 16px;
}


@media (max-width: 1059px) {
  .header {
  padding-left: 30px;
  padding-right: 30px;
  }
}    
@media (max-width: 650px) {
    .span {
      display: none;
    }
}
