.wr{
  background-color: #502314;
  margin-top: auto;
  
  
 
}
.wr_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px calc(50% - 500px);
  font-family: 'Oswald', sans-serif;
  color: #f5ebdc;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
    img{
      height: 100px;
    } 
  }
  span {
    font-size: 30px;
  }
  .logo_text{
   font-family: 'Oswald', sans-serif;
  }

@media (max-width: 1059px) {
  .header {
  padding-left: 30px;
  padding-right: 30px;
  }
}    
@media (max-width: 650px) {
    .wr{
      display: none;
    }
}
