.wr{
  background-color: #fae469;
  margin-top: auto;
  
  
 
}
.wr_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px calc(50% - 500px);
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
    img{
      height: 100px;
    } 
  }
  span {
    font-size: 30px;
  }