.wr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 30px calc(50% - 500px);
}
@media (max-width: 1059px) {
  .wr {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
  }
}    
@media (max-width: 650px) {
    .wr {
      grid-template-columns: 1fr 1fr;
    }
}
.card_container{
  position: relative;
  padding: 5px;
  background-color: #fff;
  width: 230px;
  height: 380px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  justify-content: space-between;
}
.imgWr{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.img{
  height: 150px;
  max-width: 220px;
}
.btn{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount{
  text-align: center;
  position: absolute;
  top: 10;
  left: 10;
  background: rgb(210, 49, 49);
  border-radius: 9px;
  width: 45px;
  color: #fff;
}
.newSticker{
  text-align: center;
  position: absolute;
  right: 6px;
  background-color: rgb(240, 171, 60);
  border-radius: 9px;
  width: 50px;
}
.discount_price{
  text-decoration: line-through;
  margin: 0px;
}
.redPrice{
  color: red;
}
.p{
  margin: 0px;
}
.chatImg{
  position: fixed;
  right: 100px;
  bottom: 100px;
  height: 100px;
}