.sort_button {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

@media (max-width: 650px) {
  .sort_button {
    display: flex;
    justify-content: center;
    gap: 7px;
    button {
      font-size: 14px;
    }
  }
}